# Ignore
.spyproject
clf_data
reg_data
__pycache__
*.csv
*.csv.gz
*.pkl
clf_results
reg_results
.ipynb_checkpoints
reports/illustrative_report

# work area to try out code
sandbox

# output from jupyter notebooks when run in batch
executed_*.ipynb

# Allow