# Ignore
.spyproject
data
__pycache__
*.csv
*.csv.gz
*.pkl
results
.ipynb_checkpoints
reports/illustrative_report

# work area to try out code
sandbox

# output from jupyter notebooks when run in batch
executed_*.ipynb

# Allow
